.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
   
    
}
.wrapper{
   border: 2px solid #d9d9d9;
    height: calc(100vh - 115px);
    width: 100%;
    margin: 5%;
    padding: 2%;
    
     display: flex;
     justify-content: space-around;
     align-items: center;
   /* flex-direction: column;
    align-items: center;
    margin:50px  100px 50px 100px;  */
 } 
.item:first-child{

    border: 2px solid #d9d9d9;
   
}
.item:last-child{
    font-size: 30px;
  
   
}
.nameContainer,.yearContainer,.sessionContainer,.promotionContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.value{
    margin-left: 20px;
    color: #d9d9d9;
}
.buttonContainer{
    display: flex;
  flex-direction: column;
}
 .button:first-child, .button:last-child{
     color: #ffffff;
  background-color: var(--skin-color);
  font-family: "Poppins";
  font-style: normal;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 10px;
  border-radius: 12px;


} 
