.container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    margin: 1%;
    border-radius: 14%;
  
   
   
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #d9d9d9;
    border-radius: 14%;
    margin: 5%;
    padding: 7%;
   /* border: 2px solid #d9d9d9; */
    /* height: calc(100vh - 115px);
    width: 100%;
    margin: 5%;
    padding: 2%;
    
     display: flex;
   flex-direction: column;
   justify-content: space-between; */
   
     
   /* flex-direction: column;
    align-items: center;
    margin:50px  100px 50px 100px;  */
 } 
 .infoEpreuve{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .item:first-child{
display: flex;
justify-content: center;
border: 2px solid #d9d9d9;

    margin: 5%;
  
   
} 
.item:last-child{
    font-size: 20px;
  
   
}
.nameContainer,.yearContainer,.sessionContainer,.promotionContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.value{
    margin-left: 20px;
    color: #d9d9d9;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
  width: 90%;
  margin: auto;
  
}
 .button:first-child{
     color: #ffffff;
  background-color: var(--skin-color);
  font-family: "Poppins";
  font-style: normal;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 10px;
  padding: 2%;
  border-radius: 12px;
  transition: all 0.3s ease;
} 
.button:first-child:hover{
    transform: scale(1.05);
    color: var(--skin-color);
  background-color: #ffffff;
  border: 2px solid var(--skin-color);
   
  }
.button:last-child{
    color: var(--skin-color);
  background-color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 10px;
  padding: 2%;
  border-radius: 12px;
  border: 2px solid var(--skin-color);
  transition: all 0.3s ease;

}
.button:last-child:hover{
    transform: scale(1.05);
    color: #ffffff;
    background-color: var(--skin-color);
  }
