.container {
  border: 2px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  margin: 144px 144px;
}
.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 180px;
}
.search {
  background-color: var(--skin-color);
  position: absolute;
  font-size: 9px;
  left: 220px;
  bottom: 5px;
  height: 30px;
  width: 10%;
  border: none;
  cursor: pointer;
  color: var(--text-black);
}
.input {
  height: 40px;
  width: 30%;
  margin-top: 50px;
  border: 2px solid #d9d9d9;
  outline: none;
  background: #ffffff;
  border-radius: 15px;
  padding-left: 10px;
}
.epreuve {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  margin-right: 200px;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;

  border-radius: 15px;
}
.title {
  text-align: center;
}
