.container {
  height: 230px;
  display: flex;
  background: var(--text-black-900);
  position: absolute;
  bottom: 0;
}
.item {
  flex: 1;
  margin-top: 50px;
  margin-left: 24px;

}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: var(--text-black);
}
.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #8c91a0;
}
.item:last-child {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter";
  position: relative;
 
  line-height: 34px;

  color: #acacac;
}
.item:last-child::before {
    content: "";
    position: absolute;
    border-left: 6px solid #ACACAC;
    left: -55px;
    top: 33px;
    width: 25px;
    height: 150px;
  }
.titleSuggestion {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 48px;
    color: #ACACA8;
  }
  .description{
      font-size: 20px;
      line-height: 2rem;
  }
.buttonComment {
  background-color: var(--skin-color);
  border-radius: 15px;
  border: none;
  width: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 45px;
  margin-top: 10px;
  /* identical to box height */

  color: #ffffff;
}

.sociaux {
  display: flex;
}
.facebook,
.linkedin {
  margin-right: 20px;
}
