.container {
   margin-top:80px;
   margin-bottom: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .pagination {
    display: flex;
 justify-content:flex-end;
    align-items: center;
    list-style: none;
  }
  
  .pageLink {
    cursor: pointer;
  }
  /* pagination pageItem */
  .pageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 40px;
    margin-right: 10px;
    transition: all 0.3s ease;
 
  }
  .pageItem:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 40px;
    margin-right: 18px;
    transform: scale(1.05);
 
  }
  
  /* pagination page item when active */
  .pageItemActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color:white;
    height: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color:red;
    padding: 40px;
   
  }